@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Montserrat|Caveat+Brush:400,700,900');
/* Fonts */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.mono {
    font-family: 'Roboto Mono', monospace;
    background-color: #E8E8E8;
    padding: 0px 4px;
    color: black;
}

.faded {
    color: #808080;
}

.bold {
    font-weight: 900;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.7rem;
}

h2 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.2rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fafafa;
    font-size: 1rem;
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}

li,
p {
    font-size: 1.5rem;
}

.structure-p {
    margin-top: 2rem;
    margin-bottom: 0;
}

/* navigation */

.nav-item {
    font-size: 1rem;
}

.columns-column p {
    font-size: 1rem;
}

/* breakpoints visuals */

/* social icons */

.fab {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    padding: 0rem 1rem;
}

.fab:hover {
    transform: scale(1.4);
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-github-alt:hover {
    color: #000;
}

.fa-slack:hover {
    color: #3eb991;
}

/* containers */

.wrapper {
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*pushes content under navbar*/
    margin-top: 56px;
}

.basics-container {
    padding: 1rem;
    font-size: 1.5rem;
}

.add-height {
    height: 200px;
}

.basics-row {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.row {
    margin: 0;
}

.basics-column {
    font-size: 1.5rem;
    padding: 1rem;
    height: 150px;
    background-color: white;
    color: black;
    border: 2px solid #000;
}

.mini-col {
    border: 2px solid #000;
    padding: 1rem;
    background-color: white;
}

.resp-col {
    border: 2px solid #000;
    padding: 1rem;
}

.resp-col p {
    margin-bottom: 0.5rem;
}

.my-column {
    height: 100px;
    border: 2px solid #000;
    margin-bottom: 4px;
    font-family: 'Roboto Mono', monospace;
}

.columns-column {
    height: 75px;
    border: 2px solid #000;
    margin-bottom: 4px;
    text-align: left;
    padding-top: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

.my-column p {
    margin-bottom: 0.5rem;
}

img {
    margin: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
}

/* styles */

.navbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* background colours */

.bgcolor1 {
    background-color: #008eaa;
    color: white;
}

.bgcolor2 {
    background-color: #0077c8;
    color: white;
}

.bgcolor3 {
    background-color: #a51890;
    color: white;
}

.bgcolor4 {
    background-color: #da1884;
    color: white;
}

.bgcolor5 {
    background-color: #e4002b;
    color: white;
}

.bgcolor6 {
    background-color: #fe5000;
    color: white;
}

.bgcolor7 {
    background-color: #efdf00;
    color: white;
}

.bgcolor8 {
    background-color: #009f4d;
    color: white;
}

.bgcolor9 {
    background-color: #00205b;
    color: white;
}

.bgcolor10 {
    background-color: #005670;
    color: white;
}

.bgcolor11 {
    background-color: #4298b5;
    color: white;
}

.bgcolor12 {
    background-color: #74d2e7;
    color: white;
}



/* Media Queries */

/* extra small devices and down */

@media screen and (max-width: 575.9px) {
    .col-6.col-sm-8.resp-col,
    .col-6.col-sm-4.resp-col {
        background-color: #fe5000;
    }
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1rem;
    }
    li,
    p {
        font-size: 1.5rem;
    }
}


/*col-12 col-md-4 col-lg-5 resp-col*/
/* small devices and up */

@media screen and (min-width: 576px) {
    .col-6.col-sm-8.resp-col {
        background-color: #009f4d;
    }
    .col-6.col-sm-4.resp-col {
        background-color: #da1884;
    }
}

/* small devices and down */

@media screen and (max-width: 767.9px) {
    .col-12.col-md-6,
    .col-12.col-md-5.resp-col,
    .col-12.col-md-7.resp-col,
    .col-12.col-md-4.col-lg-5.resp-col{
        background-color: #74d2e7;
    }
}

/* Medium devices and up */

@media screen and (min-width: 768px) {
    .col-12.col-md-6 {
        background-color: #fe5000;
    }
    .col-12.col-md-5.resp-col {
        background-color: #e4002b;
    }
    .col-12.col-md-7.resp-col {
        background-color: #efdf00;
    }
    .col-12.col-md-4.col-lg-5.resp-col{
        background-color: #da1884;
    }
}

/* Medium devices and down */

@media screen and (max-width: 991.9px) {
    .col-12.col-lg-4.resp-col {
        background-color: #74d2e7;
    }

}

/* large devices and up */
@media screen and (min-width: 992px) {
    .col-12.col-lg-4.resp-col {
        background-color: #da1884;
    }
    .col-12.col-md-4.col-lg-5.resp-col{
        background-color: #e4002b;
    }
}

/* large devices and down */
@media screen and (max-width: 1199.9px) {
    .col-6.col-xl-3.resp-col {
        background-color: #fe5000;
    }
}

/* extra large devices and up */
@media screen and (min-width: 1200px) {
    .col-6.col-xl-3.resp-col {
        background-color: #a51890;
    }
}