@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Montserrat|Caveat+Brush:400,700,900');
/* Fonts */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.mono {
    font-family: 'Roboto Mono', monospace;
    background-color: #E8E8E8;
    padding: 0px 4px;
}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.7rem;
}

h2 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.2rem;
}

.red-text {
    color: red;
}

li, p {
    font-size: 1.5rem;
}

.structure-p {
    margin-top: 2rem;
    margin-bottom: 0;
}

/* navigation */
.nav-item {
    font-size: 1rem;
}

.columns-column p {
    font-size: 1rem;
}

/* containers */

.wrapper {
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*pushes content under navbar*/
    margin-top: 56px;
}

.basics-container {
    padding: 1rem;
    font-size: 1.5rem;
}

.add-height {
    height: 200px;
}

.basics-row {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.row {
    margin: 0;
}

.basics-column {
    font-size: 1.5rem;
    padding: 1rem;
    height: 200px;
    background-color: white;
    color: black;
    border: 2px solid #000;
}

.mini-col {
    height: 100px;
    border: 2px solid #000;
    padding: 1rem;
    background-color: white;
}

.my-column {
    height: 100px;
    border: 2px solid #000;
    margin-bottom: 4px;
    font-family: 'Roboto Mono', monospace;
}

.columns-column {
    height: 75px;
    border: 2px solid #000;
    margin-bottom: 4px;
    text-align: left;
    padding-top: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

.my-column p {
    margin-bottom: 0.5rem;
}

img {
    margin: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
}

/* styles */

.navbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* background colours */

.b-black {
    background-color: black;
    color: white;
}

.b-grey1 {
    background-color: #202020;
    color: white;
}

.b-grey2 {
    background-color: #404040;
    color: white;
}

.b-grey3 {
    background-color: #585858;
    color: white;
}

.b-grey4 {
    background-color: #696969;
    color: white;
}

.b-grey5 {
    background-color: #808080;
    color: white;
}

.b-grey6 {
    background-color: #989898;
    color: white;
}

.b-grey7 {
    background-color: #A9A9A9;
    color: white;
}

.b-grey8 {
    background-color: #BEBEBE;
    color: black;
}

.b-grey9 {
    background-color: #D0D0D0;
    color: black;
}

.b-grey10 {
    background-color: #DCDCDC;
    color: black;
}
.b-white {
    background-color: white;
    color: black;
}

